body {
    margin: 0;
}
.top {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                url(./images/p1_01.png);
    width: 100%;
    height: 100%;
    padding-top:150px;
    padding-bottom: 200px;
    color: white;
}

h1 {
   display: inline-block;
   margin-bottom: 50px;
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
}
#word {
    margin: 0 auto;
    width:650px;
    color: #a8a8a8;
}
#container {
    margin: 0 auto;
    text-align: center;
    width: 1000px;
}
#signup {
    margin-top:100px;
    border: 1px solid #9d9d9d7d;
    padding: 40px;
}
#signup p {
    color: #a8a8a8;
    font-size: 10px;
}
#signup input {
    outline-style: none;
    padding: 14px;
    width:250px;
    border: 1px solid #9d9d9d7d;
    background: transparent;
    margin-right:20px;
    color: white;
}
#signup button {
    padding: 14px;
    width: 130px;
}
.top2 {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
}
.top2 > p {
    margin: 100px  auto 50px auto;
}
.top2 h1 {
    width: 650px;
    margin: 0 auto 100px auto;
    text-align: center;
}
#container2 {
    width: 1000px;
    display: flex;
    margin: 0 auto 70px auto;
    flex-flow: row wrap;
}
.featrues img {
    display: block;
    float: left;
}
.featrues h4 {
    margin: 0 0 0 70px;
}
.featrues {
    width: 500px;
    height: 150px;
}
.featrues p {
    margin-left: 70px;
    width: 300px;
    color: gray;
}
.top3 {
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                      url(./images/images/前端学院设计图_02.png);
    width: 100%;
    height: 799px;

    color: white;
}
#container3 {
    width: 500px;
    position: absolute;
    top: 25%;
    left: 20%;
}
#container3 button {
    padding: 14px;  
    width: 200px;
    background-color: transparent;
    border: 1px solid gray;
    color: rgba(255, 255, 255, 0.712);
    outline-style: none;
    margin-right: 20px;
    transition-duration: 0.4s;
}
#container3 button:hover,
#container3 button:active {
    color: black;
    background-color: white;
} 
#container3 p {
    color: rgb(184, 180, 180);
    margin-top: -20px;
    width: 300px;
    margin-bottom: 50px;
}
#container3 h1 {
    color: rgb(211, 211, 211);
    width: 300px;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#left {
    position: absolute;
    top: 100px;
    right: 0;
}   
.flexbox {
   margin: 0 auto;

}
.top4 {
    text-align: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(161, 161, 161, 0.747);
}
.section {
    display: inline-block;
    width: 250px;
    height: 300px;
    margin: 0 50px;
}
.top4 h1 {
   margin: 100px auto;
   width: 35%;
}
.top5 img {
    width: 350px;
    height: 200px;
}
#tree div {
    display: inline-block;
    width:350px;
    height: 200px;
    margin-left: 50px;
}
#bird div {
    display: inline-block;
    width:350px;
    height: 200px;
    margin-right: 50px;
}
#bird img {
    float: right;
}
.top5 {
    position: relative;
    width: 100%;
    height: 700px;
    border-bottom: 1px solid rgba(161, 161, 161, 0.747);
}
#tree {
    position: absolute;
    top:100px;
    left:25%;
}
#bird {
    position: absolute;
    bottom: 100px;
    right:25%;
}
.top6 {
    text-align: center;
    border-bottom: 1px solid rgba(161, 161, 161, 0.747);
}
.top6 p {
    width: 600px;
    margin: 0 auto;
}
.top6 h1 {
    margin: 100px auto 20px auto;
    width: 600px;
}
.pic_b {
    width: 300px;
    height: 250px;
}
#pic {
    margin: 50px auto 50px auto;
    width: 700px;
}
.img_div {
    display: inline-block;
    position: relative;
}
.right {
    margin-right:20px;
}
.bottom {
    margin-top: 20px;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
    background: rgba(101, 101, 101, 0.6);
    color: #ffffff;
    opacity: 0;
    transition:all .5s ease-in-out;
}
.mask h3 {
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
}
.mask span {
    color: rgb(160, 158, 158);
    font-size: smaller;
    font-weight: 800;
}
.img_div a:hover .mask {
    opacity: 1;           
}
.pic_in_mask img {
    width: 50px;
    height: 50px;
    margin: 30px 15px;
}
.top7 {
    height: 600px;
}
#send input {
    display: block;
    outline-style: none;
    width:250px;
    height: 50px;
    border: 1px solid #9d9d9d7d;
    background: transparent;
    margin: 0 50px 20px 50px;
}
/* #send input[placeholder="Message"] {
    outline-style: none;
    width:250px;
    padding-bottom: 20px;
    text-align: start;
    border: 1px solid #9d9d9d7d;
    background: transparent;
    margin-right:20px;

} */
#send textarea {
    display: block;
    width: 250px;
    height: 150px;
    outline-style: none;
    border: 1px solid #afadad7d;
    background: transparent;
    margin: 0 50px 20px 50px;
    resize:none;

}
#send {
    position: absolute;
    left:30%;
    margin-top: 50px;
    text-align: center;
    width: 350px;
    border: 1px solid rgb(184, 181, 181);
    box-shadow: 2px 2px 10px rgb(184, 181, 181),
                -2px -2px 10px rgb(184, 181, 181);
}
#send button {
    padding: 14px;
    width: 250px;
    background-color: black;
    border: none;
    color: cornsilk;
    margin-bottom: 40px;
}
.top7left {
    position: relative;
}
.top7right {
    margin-left: 900px;
    padding-top: 100px;
}
.top7right > p {
    width: 350px;
    color: rgb(133, 133, 133);
}
.top7right >div p {
    display: inline-block;
    vertical-align: super;
    margin-left: 10px;
    width: 250px;
    margin-block-start: 1rem;
    margin-block-end: 0;
}
.footer {
    overflow:auto;
    background-color: rgb(22, 22, 22);
}
.footer h4 {
    color: white;
    font-weight: 500;
}
.footer p {
    color: rgb(167, 164, 164);
    width: 150px;
}
.footer div {
    float: left;
    margin: 100px 0px 100px 200px;
}
#last {
    margin: 100px 0px 100px 150px;
}
#last p {
    width: 250px;
}
#last img {
    margin-right: 20px;
}